* {
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

/* style of header */
.head {
    background-color: #E9E7E8;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    padding: 10px;
}

/* single word color */
.single-word {
    color: orange;
}

.head-title {
    font-size: 25px;
    font-weight: bold;
    margin-left: 200px;
}

.skills {
    display: flex;
    list-style: none;
    margin-right: 200px;
    align-items: center;
}

.port {
    margin-right: 20px;
}

.blog {
    margin-right: 20px;
}

/* primary btn style */
.primary-btn {
    color: white;
    background-color: rgba(255, 0, 0, 0.699);
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100;
}

/* finish my head work */
/* web banner style */
.web-benner {
    width: 100%;
    height: 90vh;
}

/* banner pic size */
.banner-pic {
    width: 100%;
    height: 90vh;
}

/* h1,p,btn style */
.banner-ditails {
    position: absolute;
    left: 500px;
    top: 260px;
    width: 50%;
    padding: 20px;
    text-align: right;
}

/* h1 and p style */
.banner-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;

}

.banner-description {
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 15px;
}

/* image and time waste list style */
.time-wast-list {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 120px;
}

.my-image {
    width: 500px;
    height: 650px;
    margin-left: 150px;
    margin-right: 87px;
}

.time-wast-description {
    margin-top: 100px;
    margin-right: 150px;
}

.waste-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;

}

.waste-description {
    font-size: 12px;
    margin-bottom: 10px;
    color: gray;

}

.waste-list {
    font-size: 12px;
    list-style: none;
    color: gray;
}

.waste-list li::before {
    content: '✓ ';
}

/* my plan style */
.plan-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Work Sans';
}
.line{
    width: 300px;
    margin-left: 39%;
    margin-top: -15px;
    margin-bottom: 50px;
}

.plan-names {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.icons {
    width: 50px;
    height: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    font-weight: 100;
    color: gray;
}

.development-plan {
    text-align: center;
}

.javascript-plan {
    margin-left: 130px;
    text-align: center;
}

.smoke-plan {
    margin-left: 130px;
    text-align: center;
}

.ecomarce-plan {
    margin-left: 130px;
    text-align: center;
}

.plan {
    width: 100%;
    height: 60vh;
    margin-bottom: 200px;
}

/* tip section style */

.tips {
    position: relative;
    margin-top: 80px;
}

.tip-img {
    width: 1050px;
    height: 200px;

}

.tip-img2 {
    background-image: url(../images/watch.png);
    background-size: 1000px 200px;
    background-repeat: no-repeat;
    margin-left: 150px;

}


.tip-btn {
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    color: red;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;

}

.tip-description {
    position: absolute;
    top: 5%;
    left: 200px;
    width: 100%;
    text-align: left;
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    color: white;


}
/* style of footer */
.foot{
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}
.future{
    padding: 100px;
    margin-left: 50px;

}
.foot-title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;

}
.foot-description{
    color: white;
    font-size: 10px;
    margin-bottom: 10px;

}
.email{
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}
.phone{
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}
.social-icons{
    width: 30px;
    height: 30px;
    display: flex;
}
.fb-icon{
    margin-right: 10px;

}
.tw-icon{
    margin-right: 10px;
}
.subscribe{
    padding: 100px;
    margin: 50px;

}
.sub-title{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;

}
.input{
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 11px;

}
.sub-btn{
    border: 0;
    color: orange;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;

}